<div>User Dashboard</div>
<a class="btn btn-default" href="/events/new">Create New Event</a>
<div>Meetups I'm leading</div>
<% @my_events.each do |event| %>
	<div><a href="/events/<%= event.id %>"><%= event.title %></a></div>

<% end %>
<div><a href=""></a></div>
<div>My Meetups</div>

<% @my_collabs.each do |collab| %>
	<div><a href="/events/<%= collab.event.id %>"><%= collab.event.title %></a></div>

<% end %>