<form action="/events/<%= event_id %>/collaborators/<%= collaborator_id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<button class="ex"><i class="fa fa-times"></i></button>
</form>