        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Members Only<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-heart"></i> MeetUp</a></li>
            <li><a href="/users"><i class="fa fa-users"></i> Member Directory</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-newspaper-o"></i> MainSheet Newsletter</a></li>
          </ul>
        </li>