<form action="/event" method="post">
	<input type="text" name="title" placeHolder="Title">
	<textarea type="text" name="description" placeHolder="Description"></textarea>
	<input class="btn btn-default" type="submit" value="Create Event">
</form>