<header>
	<div class="header_container"><div id="leftnav"><a href="/"><%= @title || "Miramir Yacht Club" %></a></div>
	

	<div id="rightnav">
	<!-- social media buttons should go here -->
	</div>

</div>
</header>